body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.active {
  box-shadow: none;
  border-bottom: 8px solid rgb(142, 174, 233) !important ;
  border-radius: 0 !important;
}

.btn-nav-nav:focus,.btn-nav:active:focus,.btn-nav.active:focus,
.btn-nav.focus,.btn-nav:active.focus,.btn-nav.active.focus {
    outline: none;
    box-shadow: none;
}

.btn-nav {
  border-bottom: 8px solid transparent;
}

.btn-nav:hover {
  border-bottom: 8px solid rgb(142, 174, 233, 0.5);
  border-radius: 0 !important;
}