.cart-wrapper{
    display: flex;
}

.aaa{
    height:1px;
    width:1px;
}

.top{
    display: flex;
    margin-left: 20%;
}

.bottom{
    display: flex;
}

.item{
    display: flex;
    margin-bottom: 200px;
}