.round-label {
  background-color: #D9D9D9 !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.img-preview {
  height: 59px;
  width: 59px;
  border: 1px solid #666666;
  border-radius: 9px;
}

.img-product {
  background-color: #F4F2F2;
  height: 320px;
}

.img-feature {
  height: 233px;

}

.img-new {
  background-color: #D9D9D9;
  height: 170px;
}

.img-edit {
  background-color: #F4F2F2;
  height: 170px;
}

.img-cart {
  background-color: #F4F2F2;
  height: 155px;
  width: 240px;
  border-radius: 13px;
}

.btn-checkout {
  border: 0px;
  border-radius: 13px;
  background: #E6E6E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bg-checkout {
  background: #F4F2F2;
}


.preview-scroll {
  overflow-x: auto;
}

.btn-address-save {
  background-color: #E6E6E6;
  border-radius: 13px;
  border: 0px;
}

.btn-publish {
  border: 0px;
  background-color: #E6E6E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.flip {
  transform: (-1, 1);
}

.form-address {
  border-radius: 10px !important;
}

.btn-delivery {
  cursor: pointer;
}

.img-text-light {
  color: #C2C2C2;
}

.video-preview {
  background-color: #D9D9D9;
  height: 180px;
  width: 320px;
  max-height: 180px;
  max-width: 320px;
}