.account-username {
    border: none; 
}

.existing-account-link {
    text-decoration: none; 
    color: inherit;
}

.existing-account-link:hover {
    text-decoration: underline; 
    color: blue;
}