.main-container-message {
  /* Contents */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  gap: 50px;

  position: absolute;
  width: 1292px;
  height: 697px;
  left: calc(50% - 1292px / 2 + 0.5px);
  top: 173px;

  border: 2px solid #c4c4c4;
  border-radius: 20px;
}
.content-border-end {
  border-right: 2px solid #c4c4c4;
}

.search-field {
  border-radius: 15px !important;
}

.btn-lg-gray {
  border-radius: 40px !important;
  line-height: 50px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.message-blob {
  border-radius: 40px;
}

.message-blob > p {
  margin: 0px;
  padding: 10px;
}

.bg-e6 {
  background-color: #e6e6e6 !important;
}

.btn-outline-0 {
  box-shadow: none !important;
  outline: 0px !important;
}

.content-left-message {
  /* User Name Section */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0px;
  gap: 26px;

  width: 602px;
  height: 697px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn-new-message {
  /* New Message Button */

  margin: 0 auto 0 20px;
  width: 148px;
  height: 44px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #8eaee9;
  color: white;
  border-radius: 25px;
  border: none;
}

.content-left-message .Top-Content {
  /* Top Content */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 14px;

  width: 602px;
  height: 44px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.content-left-message .Users {
  /* Users */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 602px;
  height: 547px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content-left-message .search-field-container {
  /* Search bar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;

  margin: 0 auto;
  width: 422.49px;
  height: 43px;

  background: #e6e6e6;
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-field-container .search-field {
  background: #e6e6e6;
}
.content-right-message {
  /* Message Section */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 40px;
  gap: 10px;
  isolation: isolate;

  width: 600px;
  height: 697px;

  background: rgba(230, 230, 230, 0.2);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.message-container {
  height: calc(100% - 60px);
}

.message-content-container {
  /* Message */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  /* position: absolute; */
  width: 100%;
  height: 114px;
  /* right: 20px; */
  /* bottom: 100px; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}
.message-content {
  /* Message */

  /* Auto layout */

  padding: 20px;
  gap: 10px;
  /* 
  position: absolute; */
  width: 80%;
  height: 114px;
  /* right: 20px;
  bottom: 100px; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  font-size: large;
  font-weight: 400;
  line-height: 18px;
  text-align: right;

  border-radius: 25px;
}

.message-left {
  text-align: left;
  margin: 20px;
}
.message-left .message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  background-color: #f6c852;
  color: black;
}

.message-right {
  text-align: right;
  margin: 20px;
}
.message-right .message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f6c852;
  color: black;
}

.message-author {
  /* Name and Photo */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
  gap: 10px;

  margin: 0 auto;
  width: 600px;
  height: 90px;

  /* background: #efefef; */
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.message-author .profile-picture {
  /* Profile Picture */

  width: 61px;
  height: 61px;

  background: #757575;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.message-author .author-name {
  /* Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 0px;
  gap: 2px;

  width: 185px;
  height: 61px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
