.content-border-end {
  border-right: 2px solid #c4c4c4;
}

.search-field {
  background: #e6e6e6 !important;
  border-radius: 15px !important;
}

.btn-lg-gray {
  background-color: #e6e6e6 !important;
  border-radius: 40px !important;
  line-height: 50px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.message-blob {
  background-color: #e6e6e6;
  border-radius: 40px;
}

.message-blob > p {
  margin: 0px;
  padding: 10px;
}
