.progress-line {
  display: flex;
  width: 25%;
  height: 5px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem rem;
}

.progress-circle-unfinished {
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.progress-circle-current {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.progress-circle-finished {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid black;
}

.checkmark-box {
  vertical-align: middle;
}

.checkmark {
  margin-left: auto;
}
