.input {
  resize: none;
}

.lighter {
  background: #e6e6e6 !important;
}

.light {
  background: #d9d9d9 !important;
}

.post {
  background-color: #b3b3b3 !important;
}

.comment {
  border: 0;
  background-color: #bbbbbb !important;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.t-light {
  color: #666666;
}

hr.white {
  border: 1px solid white !important;
  border-color: white !important;
  color: white !important;
}

.content {
  background: #d9d9d9;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.quick-messages {
  position: sticky !important;
  z-index: 10;
  bottom: 0;
  margin-left: 50%;
  box-shadow: 0px 0px 10px gray;
  /* bottom: 100vh; */
}

.notification-dot {
  width: 15px;
  height: 12px;
  border-radius: 3px;
  background-color: #8eaee9;
  padding-left: 0px;
}

.overline {
  border: 1px solid #FFFFFF;
}

.btn-outline-0 {
  box-shadow:none !important;
  outline:0px !important;
}

