html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
}
.input {
  resize: none;
}

.lighter {
  background: #e6e6e6 !important;
}

.light {
  background: #d9d9d9 !important;
}

.post-home {
  background-color: #90c766 !important;
}

.comment {
  border: 0;
  background-color: #bbbbbb !important;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.t-light {
  color: #666666;
}

hr.white {
  border: 1px solid white !important;
  border-color: white !important;
  color: white !important;
}

.content {
  background: #d9d9d9;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.quick-messages {
  position: sticky !important;
  z-index: 10;
  bottom: 0;
  margin-left: 50%;
  box-shadow: 0px 0px 10px gray;
  /* bottom: 100vh; */
}

.notification-dot {
  width: 15px;
  height: 12px;
  border-radius: 3px;
  background-color: #8eaee9;
  padding-left: 0px;
}

.overline {
  border: 1px solid #ffffff;
}

.btn-outline-0 {
  box-shadow: none !important;
  outline: 0px !important;
}

.btn-layer:hover {
  background-color: #f4f2f2;
  cursor: pointer;
}
.avatar {
  /* Profile Picture */

  width: 61px;
  height: 61px;

  background: #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.postButton {
  /* Post Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 100%;
  height: 34px;

  /* Blue */
  background: #8cbdeb;
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  border: none;
  /* Post */

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
}

.postButton:active {
  background-color: rgb(59, 59, 249);
  color: white;
}
.top-left-body-home .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: 100%;
  max-width: 600px; /* Example max-width to prevent too wide on large screens */
  margin: auto; /* Center the card on the page */
  height: auto; /* Adjust height dynamically */
  border-radius: 20px;
  box-sizing: border-box;
}

.top-left-body-home .Text-Input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  width: 100%; /* Adjusted to fit within parent padding */
  max-width: 600px;
  height: 84px;
  background: rgba(230, 230, 230, 0.6);
  border-radius: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.icons-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  height: 36px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons-home .emoji,
.icons-home .text,
.icons-home .video,
.icons-home .at,
.icons-home .mic,
.icons-home .share {
  background: none;
  width: 20px;
  height: 20px;
}

.icons-home .icon {
  background: none;
  border: none;
}
.top-left-body-home .Text-Input,
.icons-home {
  display: flex;
  width: 100%; /* Ensure it takes up 100% of its parent's width */
  box-sizing: border-box; /* Padding is included within the element's width */
}

.Top-Contents-home {
  /* Top Contents */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 253px;
  height: 61px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.avatar-home {
  /* Name and Photo */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 220px;
  height: 61px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.content-text-home {
  /* Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 0px;
  gap: 2px;

  width: 185px;
  height: 61px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.Top-Contents-home .user-name {
  /* [User Name] */

  margin: 0 auto;
  width: 188px;
  height: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #333333;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Top-Contents-home .post-to {
  /* [Headline] */

  margin: 0 auto;
  width: 188px;
  height: 18px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #333333;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  /* width: 100%; */
  height: auto;
  background: rgba(217, 217, 217, 0.5);
  border: 2px solid #c4c4c4;
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: auto;
}
.post-image-container {
  display: flex; /* Make it a flex container */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  width: 70%;
  height: 100%;
  background: #ffffff;
  border-radius: 20px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
}
.post-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 50%; /* Assuming 'round-l' meant to apply a large rounding, adjust as needed */
  display: block; /* To replace 'd-block' */
  margin-left: auto;
  margin-right: auto; /* To center the image, equivalent to 'mx-auto' */
}
.col-post-text-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 348px !important;
  height: 80%;
  max-height: 100%;
  background: #ffffff;
  border-radius: 13px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.row-icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 306px;
  height: 32px;
  flex: none;
  /* order: 1; Uncomment if needed */
  flex-grow: 0;
}

.icon-userContent {
  width: 20px;
  height: 22px;
  display: flex;
  /* marginLeft: 5px; Uncomment if needed */
}
.icon-button-userContent {
  width: 50px !important;
  height: 32px !important;
  display: flex !important;
  order: 0 !important;
  flex-grow: 0 !important;
  border-radius: 100px !important;
  background: white !important;
  justify-content: center !important;
  padding: 8px !important;
}
.editpost-usercontent {
  border: none;
  border-radius: 25px;
}
