.content{
    margin-top:100px;
    //background-color:rgb(241, 191, 191); 
    width:95%;
 
    margin-left:auto;
    margin-right: auto;
    .lb{
          width:100%;
          height:300px;
          display:flex;
          flex-flow:column;
          border:2px solid lightgray;
          border-radius: 15px;
          .photoFrame{
             margin:20px;
             width:80px;
             border-radius: 50%;
             height:80px;
             background-color:rgb(231, 230, 230);
             display:flex;
             box-shadow: 2px 2px 1px gray;
             
            }
            .chatbox{
                margin:8%;
                width:80%;
                background-color:lightgray;
                margin-top:-6px;
             
                
            }
         .icons{
            margin-top:-15px;
            margin-left:25px;
            color:black;
             span{
                margin-right:8px;
             }
             
           }
           .inputBtn{
           display:block;
           margin-left: 80%;
           }
        }
        .lb2{
          width:100%;
          height:500px;
          margin-top:5px;
          display:flex;
          flex-flow:column;
          border:2px solid lightgray;
          border-radius: 15px;
         align-items: center;
          .layerBox{
            width:90%;
            height:60px;
            //margin:5px;
            display:flex;
            flex-flow:column;
            background-color:lightgray;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            margin-top:5px;
          }
        }
    .rb{
          width:100%;
          height:80px;
          display:flex;
          flex-flow:column;
          border:2px solid lightgray;
          border-radius: 15px;
          margin-bottom: 3px;
          nav{
            margin-top: 20px;
          }
    }
    .rcard{
        
        width:100%;
        //height:360px;
        display:flex;
        border:2px solid lightgray;
        border-radius: 15px;
        margin-bottom: 6px;
        box-shadow:3px 3px 1px gray;
        background-color:lightgray;
        .col-md-7{
          background-color: rgb(250, 247, 247);
          border-radius: 15px;
        }
        .userInfo{
          display:flex;
          margin-bottom: 1em;
          margin-left:1em;
          .avatar{ 
            width: 60px;
            height:60px;
            border-radius:50%;
            box-shadow:2px 2px 1px rgb(161, 161, 161);
          }
          .userdescrip{
            margin-left:1em;
          
          }
        }
        .icons{
          margin-top:3.8em;
          
          span{
            margin-right:1em;
          }
        }
        
      .input-group{
        z-index:1;
        margin-top:5px;
        background-color:white;
        border-radius:8px;
       
       // overflow: hidden;
      }
        

    }
    }

