.input {
  resize: none;
}

.lighter {
  background: #E6E6E6 !important;
}

.light {
  background: #D9D9D9 !important;
}

.post {
  background-color: #B3B3B3 !important;
}

.comment {
  border: 0;
  background-color: #BBBBBB !important;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}


.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.avatar {
  border-radius: 50%;
  background: #D9D9D9;
}

.s18 {
  font-size: 18px;
}

.s16 {
  font-size: 16px;
}

.s15 {
  font-size: 15px;
}

.s14 {
  font-size: 14px;
}

.s12 {
  font-size: 12px;
}

.s10 {
  font-size: 10px;
}

.t-light {
  color: #666666;
}

hr.white {
  border: 1px solid white !important;
  border-color: white !important;
  color: white !important;
}

.content {
  background: #D9D9D9;
  border: 1px solid #B3B3B3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.content-border-s {
  border: 1px solid #B3B3B3 !important;
}

.content-border-l {
  border: 2px solid #C4C4C4 !important;
}

.round-xl {
  border-radius: 25px !important;
}

.round-l {
  border-radius: 13px !important;
}

.round-s {
  border-radius: 9px !important;
}

