.btn.btn-profile.Edit-Account-button {
  background: #90c766;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #757575;
  transition: box-shadow 0.3s ease;
  /* Rectangle 197 */

  box-sizing: border-box;

  position: absolute;
  width: 173px;
  height: 59px;
  left: 1139px;
  top: 484px;

  border: 1px solid #666666;
  border-radius: 26px;
}

.btn.btn-profile.Edit-Account-button:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.btn.btn-profile.Edit-Account-button:active {
  /* Styles for active state */
  background-color: #01271d;
  color: #90c766;
}

.avatar-profile-account-details {
  /* Ellipse 143 */

  /* position: absolute; */
  width: 139px;
  height: 142.46px;
  /* left: 387px;
  top: 322.71px; */

  background: #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
