.side-modal {
    width: 30%;
    max-width: none;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.side-modal-content {
    height: 100vh;
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
}

.side-modal.show {
    transform: translateX(0);
}