
.boss{
    display: flex;
   
}
.left{
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 255, 136, 0.227);
    overflow: auto;
    
}
.humanlogo{
    
}
.right{
    display: grid;
    
    height: 100vh;
    width: 50%;
    overflow: auto;
    
   
}

.topspace{
    height: 50px;
}


.verifyacctitle{
    width: 450px;
    height: 30px;
   

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 125.5%;
    color: #333333;

    margin: auto;
    
}

.verifydescription{
    
    width: 450px;
    height: 30px;
    left: 848px;
    top: 393px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333333;

    margin: auto;
}
.noemail{
    width: 450px;
    height: 30px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333333;

    margin: auto;
}
.nextbutton{
   
    width: 175px;
    height: 50px;
 

    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-left: auto;
    margin-right: 80px;
    }






.botspace{
    height: 200px;
}