.boss {
  display: flex;
}
.left {
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 255, 136, 0.227);
  overflow: auto;
}

.right {
  display: grid;

  height: 100vh;
  width: 50%;
  overflow: auto;
}

.topspace {
  height: 50px;
}

.botspace {
  height: 200px;
}

.right .welcometitle-bioinput {
  width: 500px;
  height: 126px;
  font-size: 48px;
  font-weight: 500;
  line-height: 60.24px;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  color: #333333;
  margin: auto;
  margin-top: 100px;
}

.right .smalldescription {
  margin: auto;
  margin-bottom: 10px;
}
.input.placeholder {
}

.addbiobox {
  padding-bottom: 75px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 500px;
  height: 125px;
  margin: 0px auto;

  border: 2px solid #c4c4c4;
  border-radius: 9px;
}
.right .space1 {
  height: 25px;
}

.right .linknextbutton {
  justify-self: end;
  margin: auto;
  width: 300px;
  border-radius: 25px;
  border: none;
  margin-bottom: 170px;
}
.right .nextbutton-bioinput {
  width: 300px;
  height: 50px;
  background: #06d69f;
  color: #01271d;
  border: none;
  margin: auto;
  border-radius: 25px;
  font-weight: bold;
}

.right .nextbutton:active {
  background-color: #01271d;
  color: #06d69f;
}
