
.boss{
    display: flex;
   
}
.left{
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 255, 136, 0.227);
    overflow: auto;
    
}

.right{
    display: grid;
    
    height: 100vh;
    width: 50%;
    overflow: auto;
    
   
}

.topspace{
    height: 50px;
}

.botspace{
    height: 200px;
}

.right .welcometitle{
   
    width: 500px;
    height: 126px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60.24px;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #333333;
    margin: auto;

}

.right .smalldescription{

    margin: auto;
    margin-bottom:10px;
}
.input.placeholder{
    
}


.addbiobox{
    padding-bottom: 75px; 
    padding-left: 10px;
    box-sizing: border-box;
    width: 500px;
    height: 125px;
    margin: 0px auto;

    border: 2px solid #C4C4C4;
    border-radius: 9px;
}
.right .space1{
    height: 25px;
}

.right .linknextbutton{
    justify-self: end;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    border: none;

   

}
.right .nextbutton {
    width: 300px;
    height: 50px;
    background: #06D69F; 
    color: #01271D; 
    border: none;
    margin: auto;

    
}

.right .nextbutton:active{
    background-color: #01271D;
    color: #06D69F;

}