.boss {
  display: flex;
}
.left {
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 255, 136, 0.227);
  overflow: auto;
}

.right {
  display: grid;

  height: 100vh;
  width: 50%;
  overflow: auto;
}

.topspace {
  height: 50px;
}

.botspace {
  height: 200px;
}

.right .welcometitle1 {
  width: 400px;
  height: 76px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 125.5%;
  color: #333333;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.right .smalldescription1 {
  width: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: auto;
}

.searchbox {
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.categoryselection {
  width: 350px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  margin-top: 50px;
}
.categorybutton {
  width: 170px;
  height: 51px;

  color: white;
  background: #246eb9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 6px;
}
.categorybutton-clicked {
  width: 170px;
  height: 51px;
  left: 861px;
  top: 488px;
  color: white;
  background: #081828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.space1 {
  height: 150px;
}
.skipnextbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 100%;
}

.skipbutton {
  margin: auto;
  text-align: center;
}

.linknextbutton-categoryselection {
  border: none;
  box-shadow: 0;
}
.nextbutton-categoryselection {
  /* Post Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  /* gap: 10px; */

  width: 280px;
  height: 50px;

  /* Blue */
  background: #8cbdeb;
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  /* margin-top: 50px; */
  font-weight: bold;
}

.skipbutton-categoryselection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 73px;
  height: 50px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: inherit;
  border: none;
  text-decoration: underline;
}
.skipbutton-categoryselection:hover {
  background-color: white;
}
