.boss {
  display: flex;
}
.left {
  height: 100vh;
  width: 50%;
}

.holderimg {
  width: 100%;
  height: 100%;
}

.right {
  display: grid;

  height: 100vh;
}

.topspace {
  height: 50px;
}

.sslogo {
  display: block;
  margin: auto;
  width: 50%;
  height: 100px;
  width: 100px;
}
.titlen {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #06d6a0;

  margin: auto;
}
.formsignin {
  display: grid;
}
.right .email,
.right .password {
  width: 350px;
  height: 50px;
  left: 905px;
  top: 383px;

  border: 2px solid #b3b3b3;
  border-radius: 10px;

  margin: auto;

  text-align: left;
  padding-left: 2em;
}
.right .signin {
  height: 50px;
  left: 905px;
  top: 523px;
  background: #06d69f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #01271d;

  border: none;
  margin: 20px auto;
  width: 350px;
  border-radius: 10px;
}
.right .signin:active {
  background-color: #01271d;
  color: #06d69f;
}
.lineor {
  width: 350px;

  margin: auto;
}

.facebookbutton-start,
.googlebutton-start,
.projectbutton-start {
  width: 364px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  background: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

.right .needaccountbox {
  margin: 10px auto;
  width: 400px;
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  color: #246eb9;
}
.right .createaccount {
  margin: 0;

  text-align: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 15px;
  color: #246eb9;
  text-decoration-line: underline;
}
