
.boss{
    display: flex;

   
}
.left{
    height: 100vh;
    width: 50%;

    
}

.holderimg{
    width: 100%;
    height: 100%;
}

.right{
    display: grid;
    
    height: 100vh;
    
   
}

.topspace{
    height: 50px;

}

.sslogo{
    display: block;
    margin: auto;
    width: 50%;
    height: 100px;
    width: 100px;
    
    
}
.titlen{


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: center;
color: #06D6A0;

margin: auto;

    
}
.formsignin{
    display: grid;
    
}
.right .email,.right .password{
    width: 350px;
    height: 50px;
    left: 905px;
    top: 383px;
    

    border: 2px solid #B3B3B3;
    border-radius: 10px;

    margin: auto;


    text-align: left;
    padding-left: 2em;
    
}
.right .signin{

height: 50px;
left: 905px;
top: 523px;
background: #06D69F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #01271D;

border: none;
margin:20px auto;
width: 350px;
border-radius: 10px;
}
.right .signin:active{
    background-color: #01271D;
    color: #06D69F;

}
.lineor{
    width: 350px;
    
    margin: auto;

}



.facebookbutton,.googlebutton,.projectbutton {
    width: 364px;
    height: 40px;
    margin: auto;

    
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    
  }

* {
    margin: 0;
    padding: 0;
  }

.right .needaccountbox{
    margin: 10px auto;
    width: 400px;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    color: #246EB9;
}
.right .createaccount{

    margin: 0;

    text-align: center;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 15px;
    color: #246EB9;
    text-decoration-line: underline;
}

