
h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .containerpolicy {
    width: 80%;
    margin: 0 auto;
  }
  .policy-section {
    margin-bottom: 25px;
  }
  .policy-section h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .policy-section p {
    font-size: 1.2em;
    margin-bottom: 15px;
  }












.container{
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
}



.title {
    font-size: 30px;
    display: flex;
    border-radius: 15px;
    border: 3px solid #cad5bc;
    font-weight: bold;
    width:auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline ;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(82, 82, 232) ;

}

.body{
    
    margin-top: 5%;
    display: flex;
    
}

.leftbox {
    margin-right: 3%;
    border: 3px solid #cad5bc;
    border-radius: 15px;
    height: 120px;
    width: 15%;

    padding-top: 10px;
    padding-bottom: 10px;
    display:grid;
    justify-content: center;
    align-items: center;

}
.lboxrefunds{
    background-color: rgb(170, 163, 163);
   
}
a:visited {
    color: black;
  }
a:link { text-decoration: none; }
/* mouse over link */
a:hover {
    background-color: rgb(170, 163, 163);
  }
  
  /* selected link 
    not functional right now
  */
  a:active {
    background-color: grey;
  }

.rightbox {
    display:flex;
    flex-direction: column;
    border: 3px solid #cad5bc;
    border-radius: 15px;
    height: 400px;
    width: 85%;
    overflow: auto;
    
    
}

.rboxtitle{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 15px;
    border-bottom: 6px solid #cad5bc;;
    height: 40px;
    width: 100% -15px;
    font-weight: bold;
    font-size: 20px;
}

.itemtitle{
  display: flex;
  justify-content: center;
}



.lawnmower{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;
}

.price{
  margin-top: 10px;
  text-align: center;
}

.checkoutlink{
  margin-top: auto;
}



.agreebutton{
    border-radius: 12px;
    margin-top: auto;
    text-align: center;
    color: white;
    background-color:#63b263;
    width: 100%;
    height: 65px;
    font-size: 20px;
    border: none;
    margin-bottom: 1px;
}

.agreebutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}

.footer{
  height: 100px;
}