.TransactionHistoryContainer{
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
}



.titleTH {
    display: flex;
    border-radius: 15px;
    border: 3px solid #cad5bc;

    width:auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline ;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(34,139,34) ;

}

.bodyTH{

    margin-top: 5%;
    display: flex;

}

.lboxtitle{
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 4px solid #cad5bc;;
    height: 30px;
    width: 100% -15px;
}

.lboxitem{
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 25px;
    width: 100% -15px;
}

.leftboxTH {
    margin-right: 3%;
    border: 3px solid #cad5bc;
    border-radius: 15px;
    height: min-content;
    width: 15%;

    padding-top: 10px;
    padding-bottom: 10px;
    display:grid;
    justify-content: center;
    align-items: center;

}
a:visited {
    color: black;
}
a:link { text-decoration: none; }
/* mouse over link */
a:hover {
    background-color: #cad5bc;
}

/* selected link
  not functional right now
*/
a:active {
    background-color: grey;
}

.rightboxTH {
    display:flex;
    flex-direction: column;
    border: 3px solid #cad5bc;
    border-radius: 15px;
    height: 300px;
    width: 85%;
}

.rboxtitleTH{
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 6px solid #cad5bc;;
    height: 40px;
    width: 100% -15px;
}

.rboxbodyTH{
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 3px solid #cad5bc;;
    height: 250px;
    width: 100% -15px;
}

.rboxshowallTH{
    display: flex;
    width:auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline ;
    text-decoration-thickness: 3.5px;
    text-decoration-color: #cad5bc ;
}
